## ci/cd from the finished product
version: "3"

services:

  mayi-redis:
    container_name: mayi-redis
    image: redis:6.2.6
    restart: always
    ports:
      - "6379:6379"
    hostname: mayi.redis

  mayi-mysql:
    container_name: mayi-mysql
    build:
      context: ./
      dockerfile: ./docker/db/Dockerfile
    restart: always
    env_file:
      - ./env/.mysql_env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-itcast}
    security_opt:
      - seccomp:unconfined
    image: mayi-mysql
    ports:
      - "3306:3306"
    hostname: mayi.mysql

  mayi-nacos:
    container_name: mayi-nacos
    image: nacos/nacos-server
    restart: always
    env_file:
      - ./env/.nacos_env
      - ./env/.mysql_env
    environment:
      JVM_XMX: 256m
      JVM_XMS: 256m
      JVM_XMN: 192m
      MODE: standalone
      SPRING_DATASOURCE_PLATFORM: mysql
      MYSQL_DATABASE_NUM: 1
      MYSQL_SERVICE_HOST: ${MYSQL_HOST:-mayi.mysql}
      MYSQL_SERVICE_PORT: ${MYSQL_PORT:-3306}
      MYSQL_SERVICE_USER: ${MYSQL_ROOT_USERNAME:-root}
      MYSQL_SERVICE_PASSWORD: ${MYSQL_ROOT_PASSWORD:-itcast}
      MYSQL_SERVICE_DB_NAME: ${MYSQL_SERVICE_DB_NAME:-nacos}
      MYSQL_SERVICE_DB_PARAM: ${MYSQL_SERVICE_DB_PARAM:-allowPublicKeyRetrieval=true&useSSL=true&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&autoReconnect=true&failOverReadOnly=false&maxReconnects=10&serverTimezone=GMT%2B8}
    ports:
      - "8848:8848"
    depends_on:
      - mayi-mysql
    hostname: mayi.nacos
